* {
   font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
}

p {
    font-size: 60px;
    text-align: center;
    color: rgb(119,119,119);
    margin: 50px auto 0;
}

.currency {
    padding-top: 50px;
    display: inline-flex;
    flex-wrap: wrap;
    width: 550px;
    justify-content: center;
}

label {
    padding: 0px 12px;
    width: 158px;
    height: 52px;
    font-size: 48px;
    color: #fff;
    background-color: #16b67f;
    border: none;
    border-radius: 10px 0 0 10px;
}

input {    
    outline: none;
    color: rgb(119,119,119);
    width: 350px;
    height: 46px;    
    padding-left: 12px;
    font-size: 24px;
    margin-bottom: 20px;
    vertical-align: middle;
}

input:focus {
    border-color: #16b67f;
}

input:active {
    border-color: #16b67f;
}

img {
    margin-right: 10px;
}
